body {
    background-color: #f8f9fa;
}

h2 {
    font-weight: bold;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
